<div class="row">
  <div class="col-lg-7 col-md-7">
		<p>Är du nöjd nu Niclas?</p>

		<form name="niclasForm">
		  <label>
		    <input type="radio" ng-model="approve" value="simple">
		    Approve
		  </label><br/>
		  <label>
		    <input type="radio" ng-model="approve" value="more">
		    Approved more
		  </label><br/>
		  <input type="submit" ng-click="update()" value="Save" />
		</form>


		
	</div>
	<div class="col-lg-5 col-md-5">
		<p>Approve has been chosen {{approveList.simple}} times</p>
		<p>Approved more has been chosen {{approveList.more}} times</p>
	</div>
</div>